/* - Tweet buttons are now neutral links - U1 */
.EdgeButton--primary, 
.EdgeButton--primary:focus{
    color: darkgrey;
    background-color: transparent;
    border: none;
}
.EdgeButton--primary:hover{
    color: dimgrey;
    background-color: transparent;
}

/* - Twitter logo is more discrete - P1 */
.Icon--bird{
    filter: grayscale(1);
    opacity: 0.5
}

/* - Hide "↑ See new Tweets" floating button - U3 C1 C3 */
div[role="status"]{
    display: none;
}